@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Ruthie&display=swap');
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #8f9ca0;
    padding: 3vh;
}
p{
    font-size: 5vh;
    font-weight: 800;
    /* font-family: "Comic Sans MS", sans-serif; */
    font-family: "Ruthie", cursive;
    font-size: normal;
    font-weight: bolder;
}

.setting{
    padding: 2px;
    right: 2vw;
    height: 5vh;
    position: absolute;
    background-color: #718082;
    border-radius: 18px;
    border-color: transparent;
    cursor: pointer;
}
.setting:hover {
    background-color: #6a757b;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
/* 按下時的按壓效果 */
.setting:active {
    background-color: #5e676c;
    transform: scale(0.95); /* 按下時讓按鈕稍微縮小 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
span{
    font-size: 3vh;
    font-weight: bold;
    color: white;
}
.body{
    padding: 0vw ;
    height: 100vh;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-weight: bold;
    background-color: rgb(155, 188, 189);
    border-radius: 10px;
    font-size: 15px;
    font-family: "Hachi Maru Pop", cursive;
}
.op{
    font-size: 20px;
    font-weight: bolder;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    font-size: 20px;
    font-weight: bold;
    font-family: "Hachi Maru Pop", cursive;
}
th{
    padding: 10px;
    background-color: #7e9096;
    color: white;
}
td{
    padding: 10px;
    background-color: #d5dddd;
    width: 300px;
    text-align: center;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh;
}
.one {
    display: flex;
    align-items: center;
    width: 150px;
}
select{
    padding: 5vh;
    cursor: pointer;
}
.time{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #d5dddd;
    border: none;
    margin-right: 10px;
    font-family: "Hachi Maru Pop", cursive;
}
.add{
    padding: 5px 20px;    
    border-radius: 10px;
    border-width: 4px;
    font-size: 17px;
    font-weight: bold;
    background-color: #78858a;
    color: white;
    cursor: pointer;
    font-family: "Hachi Maru Pop", cursive;
}



.popup {
    display: none; /* 預設隱藏 */
    position: absolute;
    top: 8vh;
    right: 8vh;
    width: 300px;
    height: 400px;
}
/* 彈出視窗內容 */
.popup-content {
    background-color: white;
    border-radius: 10px;
    width: 100% ;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 10%;
    flex-direction: column;
}
.text1{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
}
.setinput{
    width: 80%;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #d5dddd;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Hachi Maru Pop", cursive;
}
.search{
    padding: 4px;
    border-radius: 14px;
    margin-left: 15px;
    border-color: transparent;
    cursor: pointer;
    background-color: #dadedf;
}
.search:hover {
    background-color: #cccccc;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
/* 按下時的按壓效果 */
.search:active {
    background-color: #5e676c;
    transform: scale(0.95); /* 按下時讓按鈕稍微縮小 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.clear{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 40%;
    height: 10%;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-family: "Hachi Maru Pop", cursive;
}

@media screen and (max-width: 768px) {
    header{
        padding: 2vh;
        height: 7vh;
        display: flex;
        align-items: center;
    }
    .body{
        height: 100vh ;
    }
    p{
        font-size: 4vh;
        padding-left: 2vh;
    }
    span{
        font-size: 3vh;
    }
    .table{
        width: 100%;
        padding: 20px 1px 10px 1px;
        font-size: 19px;
    }
    table{
        height: 90%;
        width: 90%;
    }
    th{
        padding: 20px;
    }
    td{
        padding: 20px;
        width: 600px;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        height: 15vh;
        padding: 0;
    }
    .one {
        width: 115px;
        height: 35%;
    }
    .sel{
        width: 90%;
        font-size: 13px;
        height: 90%;
        padding: 2px;
    }
    .op{
        font-size: 15px;
        font-weight: bolder;
    }
    .two{
        width: 60%;
        height: 35%;
        padding: 0 20px 0 0;
    }
    .time{
        font-size: 18px;
        /* margin-right: 20px; */
        width: 90%;
    }
    .three{
        width: 20vw;
        height: 35%;
        margin-right: 8%;
    }
    .add{
        height: 90%;
        width: 90%;
        padding: 0;
        font-size: 18px;
    }
    .popup {
        top: 7vh;
        right: 5vh;
        width: 50vw;
        height:54vh;
    }
    .popup-content {
        font-size: 12px;
    }
    .clear{
        font-size: 12px;
        width: 40%;
        height: 8%;
    }
}